@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --clr-primary: #FF6464;
    --clr-secondary: #00A8CC;
    --clr-dark: #21243D;
    --clr-ligth: #EDF7FA;
    --clr-gray: #e9e9e9;
    --clr-dark-gray: #8695A4;
    --fm-primary: Heebo, sans-serif;
}